/**
 * @style filename : style.css;
 * @author : Togodba Tissébé Jean (Tissébaos) 
 * */

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw;
    overflow-x: hidden;
    * {
        font-family: lato;
    }
}
ul, 
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

header {
    
}

.topbar {
    position: absolute;
    z-index: 5;
    display: inline-block;
    width: 100vw !important;
    box-sizing: border-box !important;
    margin: 0;

    .navs {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box !important;
        padding: 20px 0 !important;
    }
    .brand-logo {
        margin-left: 100px;
    }
    .nav-logo {
        padding-top: 15px;
    }
    .nav-logo-link {
        display: inline-block;
        font-family: acme;
        font-weight: 500;
        font-size: 22px;
        text-shadow: 2px 2px 1px rgba(18, 15, 58, 1);
        text-transform: unset !important;
        color: #ffffff;
    }
    .nav-items {
        display: inline-block;
        padding: 0 120px 0 10px;
        margin-right: -10px;
        background-color: rgba(0, 0, 0, 0.3);
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px 0px 0px 5px;
        box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.1), 
                    2px 2px 2px rgba(0, 0, 0, 0.3),
                    -2px -2px 2px rgba(255, 255, 255, 0.1) inset,
                    2px 2px 2px rgba(0, 0, 0, 0.3) inset;
    }
    .nav-item {
        display: inline-block;
        margin: 0 10px;
        padding: 20px 0;
        font-family: lato;
    }
    .nav-menu {
        display: none !important;
    }
    .nav-link {
        color: #ffffff;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 7px 15px;
        border-radius: 5px;
        box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.1), 
                    2px 2px 2px rgba(0, 0, 0, 0.3);
        background-color: rgba(18, 15, 58, 0.1);
        text-shadow: 2px 2px 1px rgba(42, 16, 102, 0.8);
        transition: 0.3s ease-in-out;

        &:hover {
            box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.1), 
                    3px 3px 3px rgba(0, 0, 0, 0.3),
                    -1px -1px 2px rgba(255, 255, 255, 0.1) inset,
                    3px 3px 3px rgba(0, 0, 0, 0.3) inset;
        }

        i {
            display: inline-block;
            transform: scale(1.8);
            margin-left: 2px;
        }
    }
}

.small-topbar {
    transform: translateY(-100%);
    position: fixed;
    display: inline-block;
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    background-color: rgba(18, 15, 58, 1);
    z-index: 9;
    transition: 0.4s ease-in-out;

    .small-closer {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
        padding: 1px 3px;
        color: #ffffff;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 
                    1px 1px 1px rgba(0, 0, 0, 0.3);
        transform: scale(1.6);
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 
                    1px 1px 1px rgba(0, 0, 0, 0.3),
                    -1px -1px 1px rgba(255, 255, 255, 0.1) inset,
                    1px 1px 1px rgba(0, 0, 0, 0.3) inset;
        }
    }

    .nav-items {
        display: inline-block;
        padding: 0 120px 0 10px;
        margin-right: -10px;
        background-color: rgba(0, 0, 0, 0.3);
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px 0px 0px 5px;
        box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.1), 
                    2px 2px 2px rgba(0, 0, 0, 0.3),
                    -2px -2px 2px rgba(255, 255, 255, 0.1) inset,
                    2px 2px 2px rgba(0, 0, 0, 0.3) inset;
    }
    .nav-item {
        display: block;
        margin: 0 10px;
        padding: 8px 0;
        font-family: lato;
    }
    .nav-link {
        display: inline-block;
        color: #ffffff;
        font-size: 13px;
        font-weight: 600;
        width: 120px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        padding: 7px 15px;
        border-radius: 5px;
        box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.1), 
                    2px 2px 2px rgba(0, 0, 0, 0.3);
        background-color: rgba(18, 15, 58, 0.1);
        text-shadow: 2px 2px 1px rgba(42, 16, 102, 0.8);
        transition: 0.3s ease-in-out;

        &:hover {
            box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.1), 
                    3px 3px 3px rgba(0, 0, 0, 0.3),
                    -1px -1px 2px rgba(255, 255, 255, 0.1) inset,
                    3px 3px 3px rgba(0, 0, 0, 0.3) inset;
        }

        i {
            display: inline-block;
            transform: scale(1.8);
            margin-left: 2px;
        }
    }
}

.header {
    position: absolute;
    z-index: 2;
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden;
    background-image: url("../images/img-01.jpg");
    background-size: 100% 100%;
}

.header-caption {
    position: relative;
    z-index: 2;
    margin: 28vh 0 0 100px;
    color: #ffffff;

    .page-suptitle {
        font-size: 14px;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 30px;
        text-shadow: 1px 1px 1px #000000;
        font-family: acme;
        letter-spacing: 1px;

        &::after {
            content: "";
            position: absolute;
            width: 80px;
            margin-top: 25px;
            border: 1px solid #ffffff;
            border-radius: 10px;
            left: 0;
        }
    }
    .page-title {
        font-size: 46px;
        font-weight: 800;
        margin: 0;
    }
    .page-subtitle {
        border-left: 4px solid #ffffff;
        padding-left: 15px !important;
        margin-top: 10px;
        
        li {
            font-family: acme;
            font-size: 18px;
            font-style: italic;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }

    .caption-links {
        margin-top: 60px;

        a {
            margin-right: 10px;
        }
    }
    .btn {
        display: inline-block;
        color: #ffffff;
        background-color: rgba(18, 15, 58, 1);
        font-size: 16px;
        font-weight: 600;
        font-variant: small-caps;
        padding: 10px 25px;
        border: 2px solid rgba(18, 15, 58, 1);
        border-radius: 3px;
        letter-spacing: 1px;
        box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.1), 3px 3px 3px rgba(0, 0, 0, 0.3);
        transition: 0.3s ease-in-out;

        &:hover {
            box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.1), 
                    3px 3px 3px rgba(0, 0, 0, 0.3),
                    -1px -1px 2px rgba(255, 255, 255, 0.1) inset,
                    3px 3px 3px rgba(0, 0, 0, 0.3) inset;
        }
    }
    .btn-outline {
        display: inline-block;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        font-variant: small-caps;
        padding: 10px 25px;
        border: 2px solid #ffffff;
        border-radius: 3px;
        letter-spacing: 1px;
        box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.1), 
                    3px 3px 3px rgba(0, 0, 0, 0.3),
                    -2px -2px 2px rgba(255, 255, 255, 0.1) inset,
                    3px 3px 3px rgba(0, 0, 0, 0.3) inset;
        transition: 0.3s ease-in-out;
        
        &:hover {
            box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.1), 3px 3px 3px rgba(0, 0, 0, 0.3);
        }
    }
    .btn .mdi,
    .btn-outline .mdi {
        display: inline-block;
        transform: scale(1.2);
        margin-right: 10px;
    }
}

.header-social {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 30px;

    .social-link {
        display: inline-block;
        color: #ffffff;
        margin: 10px;

    }
    i {
        font-size: 16px;
        padding: 3px 6px;
        border: 2px solid #ffffff;
        border-radius: 3px;
        box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.1), 
                3px 3px 3px rgba(0, 0, 0, 0.3),
                -2px -2px 2px rgba(255, 255, 255, 0.1) inset,
                3px 3px 3px rgba(0, 0, 0, 0.3) inset;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: #ffffff;
            color: rgba(18, 15, 58, 1) !important;
        }
    }
}

.slide-dot {
    display: inline-block;
    position: absolute;
    z-index: 2;
    bottom: 30px;
    right: 30px;

    .dot-link {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.2);
        width: 40px;
        height: 6px;
        border-radius: 5px;
        margin-left: 10px;
    }

    .active {
        background-color: #ffffff;
        box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.1), 
                3px 3px 3px rgba(0, 0, 0, 0.3),
                -2px -2px 2px rgba(255, 255, 255, 0.1) inset,
                3px 3px 3px rgba(0, 0, 0, 0.3) inset;
    }
}

.gradient-overlay {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, rgba(7, 44, 12, 0.75), rgba(23, 7, 61, 0.75));
    z-index: 0;
}

@media only screen and (max-width: 1100px) {
.topbar {
    .brand-logo {
        margin-left: 80px;
    }
    .nav-items {
        display: inline-block;
        padding: 0 90px 0 10px;
        margin-right: -10px;
    }
    .nav-item {
        margin: 0 5px;
        padding: 15px 0;
    }
    .nav-link {
        padding: 6px 13px;

        i {
            display: inline-block;
            transform: scale(1.6);
            margin-left: 2px;
        }
    }
}

.header-caption {
    margin: 28vh 0 0 80px;

    .page-suptitle {
        font-size: 13px;

        &::after {
            content: "";
            position: absolute;
            width: 65px;
        }
    }
    .page-title {
        font-size: 36px;
    }
    .page-subtitle {
        margin-top: 20px;
        
        li {
            font-size: 15px;
        }
    }

    .caption-links {
        margin-top: 50px;

        a {
            margin-right: 10px;
        }
    }
    .btn {
        font-size: 14px;
        padding: 10px 15px;
    }
    .btn-outline {
        font-size: 14px;
        padding: 10px 15px;
    }
}

.header-social {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 30px;

    .social-link {
        display: inline-block;
        color: #ffffff;
        margin: 10px;

    }
    i {
        font-size: 16px;
        padding: 3px 6px;
    }
}

.slide-dot {
    bottom: 30px;
    right: 30px;

    .dot-link {
        width: 40px;
        height: 6px;
        margin-left: 10px;
    }
}
}

@media only screen and (max-width: 800px) {
.topbar {
    .brand-logo {
        margin-left: 40px;
    }
    .nav-logo-link {
        font-size: 20px;
    }
    .nav-items {
        display: inline-block;
        padding: 0 60px 0 10px;
        margin-right: -10px;
    }
    .nav-item {
        margin: 0 5px;
        padding: 15px 0;
    }
    .nav-link {
        padding: 6px 13px;

        i {
            display: inline-block;
            transform: scale(1.6);
            margin-left: 2px;
        }
    }
}

.header-caption {
    margin: 28vh 0 0 40px;

    .page-suptitle {
        font-size: 13px;

        &::after {
            content: "";
            position: absolute;
            width: 60px;
        }
    }
    .page-title {
        font-size: 32px;
    }
    .page-subtitle {
        margin-top: 20px;
        
        li {
            font-size: 15px;
        }
    }

    .caption-links {
        margin-top: 35px;

        a {
            margin-right: 10px;
        }
    }
    .btn {
        font-size: 14px;
        padding: 10px 15px;
    }
    .btn-outline {
        font-size: 14px;
        padding: 10px 15px;
    }
}

.header-social {
    bottom: 20px;
    left: 20px;

    .social-link {
        display: inline-block;
        color: #ffffff;
        margin: 5px;

    }
    i {
        font-size: 16px;
        padding: 3px 6px;
    }
}

.slide-dot {
    bottom: 30px;
    right: 30px;

    .dot-link {
        width: 40px;
        height: 6px;
        margin-left: 10px;
    }
}
}

@media only screen and (max-width: 670px) {
.topbar {
    .brand-logo {
        margin-left: 40px;
    }
    .nav-logo-link {
        font-size: 20px;
    }
    .nav-items {
        display: inline-block;
        padding: 0 60px 0 10px;
        margin-right: -10px;
    }
    .nav-item {
        display: none;
        margin: 0 5px;
        padding: 15px 0;
    }
    .nav-menu {
        display: inline-block !important;
    }
    .nav-link {
        padding: 6px 13px;

        i {
            display: inline-block;
            transform: scale(1.6);
            margin-left: 2px;
        }
    }
}

.header-caption {
    margin: 28vh 0 0 0;
    text-align: center;

    .page-suptitle {
        font-size: 12px;

        &::after {
            content: "";
            position: absolute;
            width: 10%;
            margin-left: 45%;
            margin-right: 45%;
        }
    }
    .page-title {
        margin: 0 5%;
        width: 90%;
        font-size: 21px;
    }
    .page-subtitle {
        border-left: none;
        padding-left: 0px !important;
        margin: 20px 5% 0 5%;
        width: 90%;
        
        li {
            font-size: 13px;
        }
    }

    .caption-links {
        margin: 25px 5%;
        width: 90%;

        a {
            margin: 10px 5px;
            padding: 8px 15px;
        }
    }
    .btn {
        font-size: 14px;
        padding: 8px 15px;
    }
    .btn-outline {
        font-size: 14px;
        padding: 8px 15px;
    }
}

.header-social {
    bottom: 20px;
    left: 20px;

    .social-link {
        margin: 5px;
    }

    i {
        font-size: 15px;
        padding: 3px 6px;
    }
}

.slide-dot {
    bottom: 20px;
    right: 20px;

    .dot-link {
        width: 30px;
        height: 6px;
        margin-left: 5px;
    }
}
}

@media only screen and (max-width: 400px) {
.topbar {
    .brand-logo {
        margin-left: 20px;
    }
    .nav-logo-link {
        font-size: 15px;
    }
    .nav-items {
        padding: 0 50px 0 10px;
        margin-right: -10px;
    }
    .nav-item {
        margin: 0 5px;
        padding: 13px 0;
    }
    .nav-link {
        padding: 5px 10px;
        font-size: 12px;

        i {
            display: inline-block;
            transform: scale(1.4);
            margin-left: 2px;
        }
    }
}

.header-caption {
    margin: 20vh 0 0 0;

    .page-suptitle {
        font-size: 11px;
    }
    .page-title {
        margin: 0 5%;
        width: 90%;
        font-size: 18px;
    }
    .page-subtitle {
        border-left: none;
        padding-left: 0px !important;
        margin: 20px 5% 0 5%;
        width: 90%;
        
        li {
            font-size: 11px;
        }
    }

    .caption-links {
        margin-top: 10px;
        a {
            margin: 10px 5px;
            padding: 7px 10px;
        }
    }
}

.header-social {
    bottom: 10px;
    left: 10px;

    .social-link {
        margin: 3px;
    }

    i {
        font-size: 14px;
        padding: 3px 6px;
    }
}

.slide-dot {
    bottom: 10px;
    right: 10px;

    .dot-link {
        width: 25px;
        height: 6px;
        margin-left: 3px;
    }
}
}